:root {
  --text: #262726;
  --text-emphasis: #2f487e;
  --primary: #7952b3;
  --primary-light: #d8acbe;
  --secondary: #0085ff;
}
/* common */
html {
  font-size: 14px;
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

/* text */
.text {
  font-family: "Jost", sans-serif;
}
.text_big,
.text_title {
  font-size: 4rem;
}
.text_title {
  font-variant: small-caps;
  line-height: 0.9;
  margin-left: 3rem;
}
.text_small {
  font-size: 1.2rem;
}
.text_indent-2 {
  text-indent: 2rem;
}
.text_indent-4 {
  text-indent: 4rem;
}

/* button */
.button {
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  min-width: 9rem;
  cursor: pointer;
}
.button-primary {
  background-color: black;
  border: none;
}
.button-primary:hover {
  background-color: var(--primary);
}
.button-outlined {
  border: 2px solid black;
  color: black;
}
.button-outlined:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}
.button-primary__text {
  color: white;
}
/* button-group */
.button-group {
  display: flex;
  gap: 2rem;
}
/* hero */
.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background: center/cover no-repeat url("images/hero.jpg");
}

/* hero__content */
.hero__content {
  width: 50%;
  margin-top: 3rem;
  margin-left: 3rem;
}

/* hero__logo */
.hero__logo {
  height: 54px;
  display: flex;
  align-items: center;
}
/* hero__button-group */
.hero__button-group {
  margin-top: 4rem;
  margin-left: 3rem;
  justify-content: start;
}

/* hero__text */
.hero__text_small {
  margin-top: 2rem;
}
/* logo */
.logo__img {
  padding: 0.5rem;
  width: 48px;
  height: 48px;
}
.logo__text {
  color: var(--primary);
}

/* running-line */
.running-line {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  height: 10vh;
  overflow: scroll;
}
.running-line__content {
  display: inline-block;
  text-wrap: nowrap;
  animation: 1s infinite linear forwards run,
    3s 0.3s infinite linear forwards run;
  flex-shrink: 0;
}
.running-line__text {
  font-size: 1.3rem;
  color: white;
}
@keyframes run {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
/* content-block */
.content-block {
  margin-top: 2rem;
}
/* about-me */
.info__content {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .hero__content {
    width: 90%;
    margin-left: 2rem;
  }
  .content-block {
    margin-left: 0;
  }
  .info__content {
    width: 90%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .info__img {
    transform: scale(0.8) translateY(3%);
    box-shadow: 2px 5px #7090a5;
  }
  .info__text {
    order: 2;
    width: 100%;
    margin-left: 2rem;
  }
  .info__img_wrapper {
    width: 100%;
    order: 1;
  }
  .hero__button-group {
    margin-left: 0;
    justify-content: center;
  }
  .text_title {
    margin-left: 2rem;
  }
}
.info__img_container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__img {
  order: 2;
  width: 20rem;
  border-radius: 100% 70% 100% 70%;
}
.info__img_wrapper {
  display: flex;
  order: 2;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .info__img_wrapper {
    width: 70%;
    background: linear-gradient(320deg, #98c1e6 50%, #e7d2c0 60%),
      linear-gradient(to left, #d99c7d 20%, #e7d2c0 70%);
    border-radius: 100% 60% 100% 60%;
    box-shadow: 3px 3px #7090a5;
    transform: rotate(45deg);
  }
  .info__img {
    transform: scale(0.8) rotate(-25deg) translateY(3%);
    box-shadow: 2px 5px #7090a5, 30px -10px 40px #d69a7d;
  }
  .info__text {
    width: 60%;
    margin-left: 3rem;
  }
}
.info__text_small {
  margin-top: 2rem;
}
/* my-skills *
/* slider */

.slider {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding-top: 2rem;
  height: 100%;
  flex-wrap: wrap;
}
.slider_left,
.slider_right {
  background: white;
  height: 40vh;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .slider_left,
  .slider_right {
    width: 10%;
  }
  .slider__content-container {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .slider_left,
  .slider_right {
    width: 20%;
  }
  .slider__content-container {
    width: 60%;
  }
}
.slider__button_prev,
.slider__button_next {
  border: none;
  font-size: 7rem;
  color: var(--primary);
  cursor: pointer;
  background: white;
}
.slider__button_disabled {
  cursor: default;
  color: #777;
}
.slider__button_prev:hover:not(.slider__button_disabled),
.slider__button_next:hover:not(.slider__button_disabled) {
  color: black;
}
.slider_left {
  order: 1;
}
.slider_right {
  order: 3;
}
.slider__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  order: 2;
  gap: 3rem;
  height: 40vh;
}
.slider__img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  background: white;
  width: 12rem;
  height: 12rem;
}
.slider__img_wrapper_tablet {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  background: white;
  width: 10rem;
  height: 10rem;
}
.slider__img_wrapper::before,
.slider__img_wrapper_tablet::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1rem;
  border-radius: inherit;
  background: linear-gradient(320deg, #98c1e6 50%, #e7d2c0 60%),
    linear-gradient(to left, #d99c7d 20%, #e7d2c0 70%);
}
.slider__img_title {
  text-align: center;
  padding-top: 1rem;
}
.slider__content-container_next-anim {
  animation: 0.3s linear forwards slide-to-left;
  z-index: 0;
}
.slider__content-container_prev-anim {
  animation: 0.3s linear forwards slide-to-right;
  z-index: 0;
}
@keyframes slide-to-left {
  from {
  }
  to {
    transform: translateX(-20%);
  }
}
@keyframes slide-to-right {
  from {
  }
  to {
    transform: translateX(20%);
  }
}
@media screen and (max-width: 600px) {
  .slider__content-container_next-anim {
    animation: 0.1s linear forwards slide-to-left;
  }
  .slider__content-container_prev-anim {
    animation: 0.1s linear forwards slide-to-right;
  }
}
/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: white;
  margin-top: 3rem;
  height: 54px;
}
